.form__agregar{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #E5E5E5;
    padding: 2rem 0;
}

/* Drop zone */
.drop-zone{
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 4px dashed #849e99;
    border-radius: 10px;
    margin: 0 6rem;
}

.drop-zone--over{
    border-style: solid;
}

.drop-zone__input{
    display: none;
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background-color: rgba(0,0,0, 0.75);
    font-size: 14px;
    text-align: center;
}
/* Drop zone */

.form__agregar h5{
    font-size: 25px;
    color: #464646;
    margin: 1rem 0;
}

.form-grupo input[type=text]{
    padding: 1rem 0;
    width: 450px;
    border: none;
    margin: 1rem 0;
}

.form-grupo [type=text]:focus {
    border: none;
}

.form-grupo input[type=submit]{
    background-color: blue;
    width: 450px;
    padding: 1rem;
    padding: 1rem;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    color: white;
}

@media (max-width:768px) {
    .form-grupo{
        margin: 0 0 0 1rem;
    }
    .form__agregar h5{
        font-size: 20px;
        padding: 0 13rem 1rem 0;
    }
    .drop-zone{
        padding: 20px;
        margin: 1rem 3rem;
    }
    .form-grupo input[type=text]{
        width: 350px;
        margin: 0 6rem 1rem 0;
    }
    .form-grupo input[type=submit]{
        width: 350px;
        margin: 0 6rem 0 0;
        font-size: 14px;
    }
}
@media (max-width:500px) {
    .form-grupo{
        padding: 0 0 0 12rem;
    }
    .form__agregar h5{
        font-size: 1rem;
        padding: 0 2rem 0 0;
    }
    .form-grupo input[type=text]{
        width: 200px;
        margin: 0 15rem 1rem 0;
        padding: 10px 0;
    }
    .form-grupo input[type=submit]{
        width: 200px;
        margin: 0 15rem 0 0;
        font-size: 10px;
        height: 40px;
    }
    .form-grupo input[type=text]::placeholder{
        font-size: 10px;
    }
    .drop-zone{
        max-width: 100px;
        height: 100px;
        font-size: 10px;
        margin: 10px 25px;
    }
}