.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.cabecera__imagen{
    display: flex;
    padding-left: 5rem;
}

.cabecera__input{
    margin-left: 2rem;
    padding: 1rem 5rem 1rem 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: solid 1px #F5F5F5;
    background-color: #F5F5F5;
    color: #A2A2A2;
}

.cabecera__span{
    padding: 1rem 1rem 1rem 2rem;
    margin-left: -5px;
    border-end-end-radius: 2rem;
    border-top-right-radius: 2rem;
    border: solid 1px #F5F5F5;
    background-color: #F5F5F5;
    color: #A2A2A2;   
}

.cabecera__input::placeholder,.cabecera__input::before{
    color: #A2A2A2;
    border: none;
}

.cabecera__input:focus{
    outline: none;
}

.cabecera__login__boton{
    margin-right: 5rem;
    padding: 1rem 4rem;
    color: blue;
    font-size: 1rem;
    background-color: white;
    border: 2px solid blue;
    transition: .5s all;
}

.cabecera__login__boton:hover{
    cursor: pointer;
    color: white;
    background-color: blue;
    border: 2px solid white;
}

.cabecera__login__buscar{
    padding: 1rem 1rem;
    color: #A2A2A2;
    background-color: white;
    font-size: 1rem;
    border: none;
    display: none;
}

@media (max-width:900px) {
    .cabecera__imagen{
        padding-left: 2rem;
    }
    .cabecera__imagen img{
        height: 35px;
    }
    .cabecera__input{
        padding: 1rem;
    }
}

@media (max-width:800px) {
    .cabecera__input{
        padding: 10px;
    }
    .cabecera__span{
        padding: 10px;
    }
}

@media (max-width:700px) {
    .cabecera__imagen{
        padding-left: 1rem;
    }
  .cabecera__imagen img{
      height: 25px;
  } 
  .cabecera__input{
      padding: 1px 1px;
      margin: 0 0 0 1rem;
  }
  .cabecera__span{
      padding: 1px 1px;
  }
  .cabecera__login__boton{
      margin:0 40px 0 0;
      padding: 5px 40px;
      font-size: 10px;
  }
  .cabecera__input::placeholder{
      font-size: 10px;
  }
}

@media (max-width:500px) {
    .cabecera__imagen img{
        height: 40px;
        margin: 0 0 0 30px;
    }   
    .cabecera__span{
        display: none;
    }
    .cabecera__imagen form{
        position: absolute;
        z-index: -1;
        margin-top: 50px;
        left: 230px;
        float: left;        
   }
    .cabecera__input{
        margin: -10px 0 0 40px;
        padding:4px 14px;
        width: 110px;
        border-radius: 2rem;
        display: none;
    }
    .cabecera__login__boton{
        padding: 5px 25px;
        left: 250px;
        position: absolute;
    }
    .cabecera__login__buscar{
        display: block;
        padding: 0 1rem;
        cursor: pointer;
    }
}