.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 0rem;
    background-color: #EAF2FD;
}

.contacto__lista li{
    margin: 1rem 0;
    list-style-type: none;
}

.contacto__lista li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.contacto__lista li a:hover{
    text-decoration: underline;
}

.contacto__formulario__input{
    margin: 8px 0;
}

.contacto__formulario__input input{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.contacto__formulario__input textarea{
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

input[type=submit]{
    background-color: #2A7AE4;
    width: 144px;
    height: 51px;
    padding: 1rem;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

@media (max-width:700px) {
    .contacto{
        display: flex;
        flex-wrap: wrap;
    }
    .contacto__imagen{
        width: 10px;
    }
    .contacto__imagen img{
        margin-left: 2rem;
    }
    .contacto__lista{
        margin-top: 2rem;
        width: 250px;
    }
}

@media (max-width:600px) {
    .contacto__imagen img{
        margin-left: 1rem;
    }
    .contacto__lista{
        width: 190px;
    }
}

@media (max-width:500px) {
    .contacto{
        display: flex;
        flex-direction: column;
        padding: 0 5rem;
    }
    .contacto__imagen{
        padding: 1rem;
        margin: 1rem 1rem;
    }
    .contacto__lista{
        margin: -3rem 4rem;
    }
    .contacto__formulario{
        margin: 3rem 1rem;
    }
}