.todos__productos{
    background-color: #E5E5E5;

}
.todos__productos__encabezado{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem 2rem 5rem;
}

.todos__productos__encabezado__titulo h1{
    font-family: raleway;
    font-weight: 700;
    color: #464646;
}

.grid__element{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.todos__productos__encabezado__link a{
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    background-color: blue;
    color: white;
    transition: 400ms all;
}

.todos__productos__encabezado__link a:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.todos__productos__cuerpo{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}


.todos__productos__cuerpo__descripcion__imagen{
    background-position: center;
    background-size: cover;
    width: 176px;
    height: 174px;
    color: white;
    text-align: end;
}

.todos__productos__cuerpo__descripcion__imagen i{
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.todos__productos__cuerpo__descripcion__texto h4{    
    font-size: 1rem;
    font-weight: 100;
    font-family: system-ui;
}

.todos__productos__cuerpo__descripcion__texto h5{
    padding: 4px 0;
}

.todos__productos__cuerpo__descripcion__texto p {
    font-size: 10px;
}

@media (max-width:768px) {
    .todos__productos__encabezado{
        padding: 1rem 5rem 0 5rem;
    }
    .todos__productos__encabezado__titulo h1{
        font-size: 15px;
    }
    .todos__productos__encabezado__link a{
        font-size: 12px;
        padding: 8px;
    }
    .grid__element{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .todos__productos__cuerpo__descripcion__imagen{
        width: 120px;
        height: 100px;
    }
}

@media (max-width:600px) {
    .todos__productos__encabezado{
        padding: 1rem 2rem 0 4rem;
    }
    .todos__productos__cuerpo__descripcion__imagen{
        width: 100px;
        height: 80px;
    }
}

@media (max-width:500px) {
    .todos__productos__cuerpo{
        display: flex;
        flex-wrap: wrap;
        width: 230px;
    }
    .todos__productos__cuerpo__descripcion__imagen {
        width: 80px;
        height: 60px;
    }
    .todos__productos__encabezado {
        padding: 1rem 8rem 0 5rem;
    }
    .todos__productos__encabezado__titulo h1 {
        font-size: 10px;
    }
    .todos__productos__encabezado__link a {
        font-size: 10px;
        padding: 6px;
    }
}
@media (max-width:360px) {
    .todos__productos__encabezado{
        padding: 1rem 0 10px 1rem;
        width: 200px;
        height: auto;
    }
    .grid__element{
        display: grid;
        grid-template-columns: auto auto;
    }
}